/* Task 2 Start */
body{
    font-size: 12px;
    font-family:"Arial", Arial, sans-serif;
}

#container {
    width: 150px;
}

#container ul {
    margin: 0px;
    padding: 0px;
}

#container li {
    list-style: none;
    position: relative;
}

li {
    border: 1px solid #292827;
    background-color: black;
    width: 170px;
    height: 20px;
    padding: 0 9px 0 9px;
}

#container a {
    color: #A36220;
    cursor: pointer;
    display: block;
    height: 25px;
    line-height: 20px;
    text-indent: 3px;
    text-decoration: none;
    width: 100%;
}

div {
    vertical-align: middle;
}

.arrow {
    float:right;
}

.title {
    float:left;
}

ul.subMenu li {
    float:left;
}

li .subMenu {
    display: block;
    position: absolute;
    left: 189px;
    top: -1px;
}

/* Task 2 End */